.btn_prev,
.btn_next {
  display: flex;
  align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  margin: 0px 40px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.card {
  display: flex;
  flex-direction: row;
}

.card__title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}

.card__details {
  text-align: justify;
  padding-right: 30px;
  color: black;
  font-size: 20px;
}
.card__description {
  text-align: justify;
  padding-right: 30px;
  color: rgb(131, 131, 131);
  font-size: 17px;
}
.image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
